<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Write a Blog</title>
    </head>
    <body>
        <h3 th:text="${userName} + ', write your blog here!'"></h3>

        <form action="#" th:action="@{/addBlog}" th:object="${blog}" method="POST">
            <label>Title</label>
            <br>
            <input type="text" name="title" value="" th:field="*{title}"/>
            <br>
            <label>Excerpt</label>
            <br>
            <input type="text" name="excerpt" value="" th:field="*{excerpt}"/>
            <br>
            <label>Content</label>
            <br>
            <textarea name="content" rows="100" cols="100"></textarea>
            <br>
            <label>Author</label>
            <br>
            <input type="text" name="author" value="" th:field="*{author}" readonly/>
            <br>
            <label>Tags(separate tags with commas)</label>
            <br>
            <input type="text" name="tag" value="" th:field="*{tags}"/>
            <br>
            <button type="submit" name="add">Submit Blog</button>
        </form>
    </body>
</html>